<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.takeTicket.dao.custPointRecordMapper" >
  <resultMap id="BaseResultMap" type="com.example.takeTicket.domain.CustPointRecord" >
    <result column="CUST_ID" property="custId" jdbcType="DECIMAL" />
    <result column="SHOP_ID" property="shopId" jdbcType="VARCHAR" />
    <result column="POINT_NUMBER" property="pointNumber" jdbcType="DECIMAL" />
    <result column="POINT_SUB" property="pointSub" jdbcType="DECIMAL" />
    <result column="POINT_STATE" property="pointState" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="BAK_STR" property="bakStr" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.example.takeTicket.domain.CustPointRecord" >
    insert into CUST_POINT_RECORD (CUST_ID, SHOP_ID, POINT_NUMBER, 
      POINT_SUB, POINT_STATE, CREATE_TIME, 
      UPDATE_TIME, BAK_STR)
    values (#{custId,jdbcType=DECIMAL}, #{shopId,jdbcType=VARCHAR}, #{pointNumber,jdbcType=DECIMAL}, 
      #{pointSub,jdbcType=DECIMAL}, #{pointState,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{bakStr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.takeTicket.domain.CustPointRecord" >
    insert into CUST_POINT_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="shopId != null" >
        SHOP_ID,
      </if>
      <if test="pointNumber != null" >
        POINT_NUMBER,
      </if>
      <if test="pointSub != null" >
        POINT_SUB,
      </if>
      <if test="pointState != null" >
        POINT_STATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="bakStr != null" >
        BAK_STR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        #{custId,jdbcType=DECIMAL},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="pointNumber != null" >
        #{pointNumber,jdbcType=DECIMAL},
      </if>
      <if test="pointSub != null" >
        #{pointSub,jdbcType=DECIMAL},
      </if>
      <if test="pointState != null" >
        #{pointState,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        sysdate,
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bakStr != null" >
        #{bakStr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>